.center {
    font-family: 'Cinzel', serif;
}
.content{
    display: flex;
    border-color: blue;
    flex-grow: 1;
    padding: 0;
    margin: 20px;
    list-style: none;
    -webkit-flex-flow: row wrap;
    justify-content: space-around;
    align-content: flex-end;

    .content-item{
      background: tomato;
      padding: 5px;
      width: 200px;
      height: 150px;
      margin-top: 10px;

      line-height: 150px;
      color: white;
      font-weight: bold;
      font-size: 3em;
      text-align: center;
  }
}

.linkbox{
    background-color: beige;
    color: black;
    border: 2px dodgerblue solid;
    &.a{

    }


}
body {
    background-image: url("../img/green_cup.png");
}
